---
import ProjectItem from '@components/ProjectItem.astro';
import WorksLayout from '@layouts/WorksLayout.astro';
import { getAllCategories, getWorksByCategory } from '@utils/collection';

export async function getStaticPaths() {
  const categories = await getAllCategories();

  return categories.map((category) => ({
    params: { category },
  }));
}

const projects = await getWorksByCategory(Astro.params.category);
---

<WorksLayout>
  <main>
    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3">
      {projects.map((project) => <ProjectItem title={project.data.title} />)}
    </div>
  </main>
</WorksLayout>
