---
import { getCollection } from 'astro:content';
import ProjectItem from '@components/ProjectItem.astro';
import WorksLayout from '@layouts/WorksLayout.astro';

const allWorks = await getCollection('works');
---

<WorksLayout>
  <main>
    <div class="grid grid-cols-1 gap-6 pb-8 sm:grid-cols-2 md:grid-cols-3">
      {
        allWorks.map((project) => (
          <ProjectItem
            title={project.data.title}
            thumbnail={project.data.thumbnail}
          />
        ))
      }
    </div>
  </main>
</WorksLayout>
