<div class="col-gap-1 flex w-full flex-col items-center justify-center">
  <h1 class="font-montserrat flex flex-col items-center text-5xl font-semibold">
    <span>HEIJO</span>
    <span>STUDIO</span>
  </h1>
</div>
