<div class='w-full flex flex-col items-center justify-center col-gap-1'>
  <h1 class='font-montserrat text-5xl font-semibold flex flex-col items-center'>
    <span>HEIJO</span>
    <span>STUDIO</span>
  </h1>
</div>
