---
import { NAV_ITEMS } from 'src/constants';
import Logo from './Logo.astro';
import NavItem from './NavItem.astro';
---

<header
  class="fixed top-0 left-0 w-full max-w-full bg-white/50 px-8 py-3 backdrop-blur-md"
>
  <div class="container flex w-full max-w-full items-center justify-between">
    <a href="/">
      <Logo width={120} height={54} />
    </a>

    <nav>
      <ul class="flex items-center gap-x-8">
        {NAV_ITEMS.map((item) => <NavItem href={item.href} text={item.name} />)}
      </ul>
    </nav>
  </div>
</header>
