---
interface Props {
  href: string;
  text: string;
}

const { href, text } = Astro.props;
---

<li class="text-[#7B7B83] lowercase hover:underline underline-offset-4">
  <a href={href}>{text}</a>
</li>