---
import { Image } from 'astro:assets';

type Props = {
  title: string;
  thumbnail?: ImageMetadata;
};

const { title, thumbnail } = Astro.props;
---

<article class="flex flex-col gap-y-3">
  {
    thumbnail ? (
      <Image src={thumbnail} alt={title} class="h-72.5 w-full object-cover" />
    ) : (
      <div class="h-72.5 w-full bg-gray-200" />
    )
  }

  <p class="font-inter text-light-gray">{title}</p>
</article>
