---
import { Image } from 'astro:assets';
import { getDynamicImageSrc } from '@utils/image';

type Props = {
  imagePath: string;
  title: string;
};

const { title, imagePath } = Astro.props;
const imageSrc = getDynamicImageSrc(imagePath);
---

<article class="flex flex-col gap-y-3">
  {
    imageSrc ? (
      <Image src={imageSrc} alt={title} class="h-72.5 w-full object-cover" />
    ) : (
      <div class="h-72.5 w-full bg-gray-200" />
    )
  }

  <p class="font-inter text-light-gray">{title}</p>
</article>
